<!DOCTYPE html>
<html lang="es">
<head>
	<title>Busqueda de Grupos</title>
	<meta charset="utf-8">
	<meta name="Autor" content="Luis Alberto Salazar">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='busqueda.css')}}">
	<link rel="icon" href="/static/logo.png">
</head>
<body>
	{% block body %}
		<div class="back">
			<header>
				<img src="/static/fondo2.jpg" class="fondo">
				<img src="/static/barra.png" class="barra">
				<img src="/static/barraLateral.png" class="barra2">
				<img src="/static/logo.png" class="logo">
				<form action="{{url_for('mensajes')}}" method="POST">
					<input type="image" name="mensajes" value="mensajes" src="static/mensajes.png" class="mensajes">
				</form>
				<form action="{{url_for('grupos')}}", method="POST">
					<button class="crear" type="submit">Crear Grupo</button>
				</form>
				<form action="{{url_for('busqueda')}}" method="POST">
					<input type="entry" name="GrupoBuscar" placeholder="Search a Group" class="busqueda" > 
					<input type="submit" value="Buscar" class="buscar">
				</form>
				<form action="{{url_for('Home')}}" method="POST">
					<input type="submit" value="Salir de la sesión" class="salirse">
				</form>
			</header>
			<aside>
				<h2 class="Activos">Grupos Activos</h2>
				<ul class="Grupos">
					{% if grupo1 in Grupos %}
						<li>{{datos.grupo1}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 1</a></li>
					{% endif %}
					{% if grupo2 in Grupos %}
						<li>{{datos.grupo2}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 2</a></li>
					{% endif %}
					{% if grupo3 in Grupos %}
						<li>{{datos.grupo3}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 3</a></li>
					{% endif %}
					{% if grupo4 in Grupos %}
						<li>{{datos.grupo4}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 4</a></li>
					{% endif %}
					{% if grupo5 in Grupos %}
						<li>{{datos.grupo5}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 5</a></li>
					{% endif %}
					{% if grupo6 in Grupos %}
						<li>{{datos.grupo6}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 6</a></li>
					{% endif %}
					{% if grupo7 in Grupos %}
						<li>{{datos.grupo7}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 7</a></li>
					{% endif %}
					<li><a href="">...</a></li>
				</ul>
				<h2 class="Eventos">Eventos</h2>
				<ul class="Eventos2">
					<li>Evento 1</li>
					<li>Evento 2</li>
					<li>Evento 3</li>
					<li>Evento 4</li>
					<li>Evento 5</li>
					<li>Evento 6</li>
					<li>Evento 7</li>
					<li>Evento 8</li>
					<li><a href="">...</a></li>
				</ul>
				<p class="final"><cite>Sovent</cite></p>
				<p class="final2"><cite>Network</cite></p>
			</aside>
			<section>
				{% if datos.valido == True %}
					{% for dato in datos.Grupos %}
						<ul>
							<li><img src="/static/Negro.jpg" class="Fnegro">
								<h1 class="GrupoReciente">{{datos.grupos}}</h1>
								<p class="desea">{{datos.mensaje}}</p></li>
						</ul>
					{% endfor %}
				{% else %}
					<img src="/static/Negro.jpg" class="Fnegro2">
					<h2 class="GrupoNoReciente">{{datos.mensaje}}</h2>
				{% endif %}
			</section>
		</div>
	{% endblock %}
</body>
</html>