<!DOCTYPE html>
<html lang="es">
<head>
	<title>ERROR!</title>
	<meta charset="utf-8">
	<meta name="Autor" content="Luis Alberto Salazar">
	<link rel="icon" href="/static/logo.png">
</head>
<body style="background-color: yellow;">
	{% block body %}
		<h2 style="font-family: Arial; font-weight: bold;">ERROR!</h2>
		<hr>
		<p style="font-family: Arial;">{{datos.mensaje}}</p>
		<form action="{{url_for('principal')}}" method="POST">
			<input type="submit" value="Ir al menú" style="font-family: Arial; font-weight: bold;
			border: none; padding: 7px 4px; color: white; background-color: red;">
		</form>
	{% endblock %}
</body>
</html>