<!DOCTYPE html>
<html lang="es">
<head>
	<title>Help</title>
	<meta charset="utf-8">
	<meta name="Descripción" content="En help podras encontrar las ayudas más comunes a los problemas más comunes que tienen los usuarios.">
	<meta name="Autor" content="Luis Alberto Salazar">
	<meta name="Keywords" content="Help, Preguntas, Ayuda, Comunes, Usuarios">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/static/logo.png">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'Help.css')}}">
</head>
<body>
	<div class="back">
		<header>
			<img src="/static/barraFondo.png" class="barra">
			<a href="http://localhost:5000/">
				<img src="/static/SoventN.png" class="Sovent">
			</a>
			<div class="home"><a href="http://localhost:5000/">Home Page</a></div>
			<img src="/static/Separacion1.png" class="sepa">
			<div class="About"><a href="http://localhost:5000/About">About Us</a></div>
			<img src="/static/recuadroBlanco.jpg" class="Recuadro">
			<h1 class="Titulo1">Help for users of this App</h1>
		</header>
		<section>
			<article>	
				<p>Aquí podrás encontrar las ayudas más comunes a los problemas más comunes que les ocurren a lo usuarios de la aplicación SoventNetwork.</p>
				<p style="font-weight: bold; font-size: 120%; font-family: Arial;">¿Dónde me registro?</p>
				<p>En la parte superior derecha de la pantalla hay un botón que lo lleva directamente al lugar del registro, sino a continuación encontrará un hipervínculo que los llevará directamenete a la parte de registro.</p>
				<p style="font-weight: bold; font-size: 120%; font-family: Arial;">¿Dónde hago el Login?</p>
				<p>En el botón que dice Home page lo llevará directamente a la página de inicio donde se podrá loguear sin problema alguno, claramente si ya tiene un usuario registrado dentro de la aplicación.</p>
				<p style="font-weight: bold; font-size: 120%; font-family: Arial;">¿Cómo ingreso a un grupo?</p>
				<p>Primeramente pueden pasar dos cosas, la primera es que alguien decida añadirte a un grupo, en ese caso ya podrías estar dentro de un grupo deseado, si ese no es el caso entonces lo segundo es que en la barra de busqueda que está en la parte superior en el centro de la barra en donde se encuentran las notificaciones y mensajes de los grupos en los cuales está, luego de acceder a la barra de búsqueda deberá escribir el nombre del grupo al cual quiere acceder, luego lo padrá encontrar al instante o lo buscará entre las diferentes opciones que haya. </p>
				<p style="font-weight: bold; font-size: 120%; font-family: Arial;">¿Cómo se puede votar en un eventro dentro de un grupo?</p>
				<p>En el caso de que se proponga un evento para cierta fecha este evento los integrantes del grupo podrán someterlo a votación en la cual se votará si se quiere acordar el vento o si no se quiere acordar, para que gane un evento este debe ganar la mitad de los votos más uno, si la votación no alcanza esta cifra para el si automáticamente se accederá a la opción de crear otro evento.</p>
			</article>
		</section>
	</div>
</body>
</html>
