<!DOCTYPE html>
<html>
<head>
	<title>Principal Page</title>
	<meta charset="utf-8">
	<meta name="Descripción" content="Aquí encontrará la aplicación principal, es decir, todo lo que tiene que ver con el principal propósito de la aplicación.">
	<meta name="Keywords" content="Aplicación, Principal, Grupos, Mensajes, Votación, Eventos.">
	<meta name="Autor" content="Luis Alberto Salazar">
	<meta name="viewport" content="width=device-width,  initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='Principal2.css') }}">
	<link rel="icon" href="/static/logo.png">
</head>
<body>
	{% block body %}
	<div class="back">
		<header>
			<img src="/static/fondo2.jpg" class="fondo">
			<img src="/static/barra.png" class="barra">
			<img src="/static/barraLateral.png" class="barra2">
			<img src="/static/logo.png" class="logo">
			<form action="{{url_for('mensajes')}}" method="POST">
				<input type="image" name="mensajes" value="mensajes" src="static/mensajes.png" class="mensajes">
			</form>
			<img src="/static/notificacion.png" class="campana">
			<form action="{{url_for('grupos')}}", method="POST">
				<button class="crear" type="submit">Crear Grupo</button>
			</form>
			<form action="{{url_for('busqueda')}}" method="POST"> 
				<input type="entry" name="GrupoBuscar" placeholder="Search a Group" class="busqueda">
				<input type="submit" value="Buscar" class="buscar">
			</form>
			<!-- <form action="{{url_for('Home')}}" method="POST">
				<input type="submit" value="Salir de la sesión" class="salirse">
			</form> -->
		</header>
		<aside>
			<h2 class="Activos">Grupos Activos</h2>
			<ul class="Grupos">
				<!-- Aparición grupo 1 -->
				{% if datos.grupos == datos.grupos1 %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 1</a></li>
				{% elif datos.Grupos == 1 and datos.usuario in datos.integrantes %}
					<li><a href="http://localhost:5000/ActiveGruop">{{datos.grupo1}}</a></li>
				{% else %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 1</a></li>
				{% endif %}
				<!-- Aparición Grupo 2 -->
				{% if datos.grupos == datos.grupos2 %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 2</a></li>
				{% elif datos.Grupos == 2 and datos.usuario in datos.integrantes %}
					<li><a href="http://localhost:5000/ActiveGruop">{{datos.grupo2}}</a></li>
				{% else %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 2</a></li>
				{% endif %}
				<!-- Aparición Grupo 3 -->
				{% if datos.grupos == datos.grupos3 %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 3</a></li>
				{% elif datos.Grupos == 3 and datos.usuario in datos.integrantes %}
					<li><a href="http://localhost:5000/ActiveGruop">{{datos.grupo3}}</a></li>
				{% else %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 3</a></li>
				{% endif %}
				<!-- Aparición Grupo 4 -->
				{% if datos.grupos == datos.grupos4 %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 4</a></li>
				{% elif datos.Grupos == 4 and datos.usuario in datos.integrantes %}
					<li><a href="http://localhost:5000/ActiveGruop">{{datos.grupo4}}</a></li>
				{% else %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 4</a></li>
				{% endif %}
				<!-- Aparición Grupo 5 -->
				{% if datos.grupos == datos.grupos5 %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 5</a></li>
				{% elif datos.Grupos == 5 and datos.usuario in datos.integrantes %}
					<li><a href="http://localhost:5000/ActiveGruop">{{datos.grupo5}}</a></li>
				{% else %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 5</a></li>
				{% endif %}
				<!-- Aparición Grupo 6 -->
				{% if datos.grupos == datos.grupos6 %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 6</a></li>
				{% elif datos.Grupos == 6 and datos.usuario in datos.integrantes %}
					<li><a href="http://localhost:5000/ActiveGruop">{{datos.grupo6}}</a></li>
				{% else %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 6</a></li>
				{% endif %}
				<!-- Aparición Grupo 7 -->
				{% if datos.grupos == datos.grupos7 %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 7</a></li>
				{% elif datos.Grupos == 7 and datos.usuario in datos.integrantes %}
					<li><a href="http://localhost:5000/ActiveGruop">{{datos.grupo7}}</a></li>
				{% else %}
					<li><a href="http://localhost:5000/Aun_no_grupo">Grupo 7</a></li>
				{% endif %}
				<!-- Más grupos -->
				<li><a href="http://localhost:5000/MasGrupos">...</a></li>
			</ul>
			<h2 class="Eventos">Eventos</h2>
			<form action="{{url_for('eventoActivo')}}" method="POST">
				<ul class="Eventos2">
					<!-- Aparición Evento 1 -->
					{% if datos.evento == datos.eventos1 %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 1</a></li>
					{% elif datos.Eventos == 1 %}
						<li>{{datos.evento1}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 1</a></li>
					{% endif %}
					<!-- Aparición Evento 2 -->
					{% if datos.evento == datos.eventos2 %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 2</a></li>
					{% elif datos.Eventos == 2 %}
						<li>{{datos.evento2}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 2</a></li>
					{% endif %}
					<!-- Aparición Evento 3 -->
					{% if datos.evento == datos.eventos3 %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 3</a></li>
					{% elif datos.Eventos == 3 %}
						<li>{{datos.evento3}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 3</a></li>
					{% endif %}
					<!-- Aparición Evento 4 -->
					{% if datos.evento == datos.eventos4 %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 4</a></li>
					{% elif datos.Eventos == 4 %}
						<li>{{datos.evento4}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 4</a></li>
					{% endif %}
					<!-- Aparición Evento 5 -->
					{% if datos.evento == datos.eventos5 %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 5</a></li>
					{% elif datos.Eventos == 5 %}
						<li>{{datos.evento5}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 5</a></li>
					{% endif %}
					<!-- Aparición Evento 6 -->
					{% if datos.evento == datos.eventos6 %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 6</a></li>
					{% elif datos.Eventos == 6 %}
						<li>{{datos.evento6}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 6</a></li>
					{% endif %}
					<!-- Aparición Evento 7 -->
					{% if datos.evento == datos.eventos7 %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 7</a></li>
					{% elif datos.Eventos == 7 %}
						<li>{{datos.evento7}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 7</a></li>
					{% endif %}
					<!-- Aparición Evento 8 -->
					{% if datos.evento == datos.eventos8 %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 8</a></li>
					{% elif datos.Eventos == 8 %}
						<li>{{datos.evento8}}</li>
					{% else %}
						<li><a href="http://localhost:5000/Aun_no_grupo">Evento 8</a></li>
					{% endif %}
					<!-- Aparición más Eventos -->
					<li><a href="http://localhost:5000/MasEventos">...</a></li>
				</ul>
			</form>
			<p class="final"><cite>Sovent</cite></p>
			<p class="final2"><cite>Network</cite></p>
		</aside>
		<section>
			<article>
				<h2 class="perfil">Bienvenido: {{datos.usuario}}</h2>
				<div class="AparecerGrupos">
					<h3 style="color: #9AFE2E;">Grupos Disponibles: </h3>
					{% for PuntoGrupos in datos.gruposAparecer %}
						{% if datos.gruposAparecer != 0 %}
							<ul>
								{% if datos.usuario in datos.integrantes %}
									<li><a href="http://localhost:5000/ActiveGruop" style="color: #01DFD7;">{{PuntoGrupos}}</a></li>
								{% elif datos.usuario in datos.integrantes1 %}
									<li><a href="http://localhost:5000/ActiveGruop" style="color: #01DFD7;">{{PuntoGrupos}}</a></li>
								{% else %}
									<li><a href="http://localhost:5000/EntrarGrupo" style="color: #01DFD7;">{{PuntoGrupos}}</a></li>
								{% endif %}
							</ul>
						{% else %}
							<ul>
								<li>Oh, aún no hay grupos disponibles :O</li>
							</ul>
						{% endif %}
					{% endfor %}
				</div>
			</article>
		</section>
	</div>
	{% endblock %}
</body>
</html>