		.back {
			background-image: url("about_bg.JPG"); /* Cambiar este fondo */
			height: 1080px;
			background-position: center;
			background-size: cover;
			overflow: hidden;
			position: absolute;
			width: 100%;
		}

		body, html {
			margin: 0;
			padding: 0;
		}

		.barra {
			width: 2100px;
			top: 0px;
			left: 0%;
			position: absolute;
		}

		.Copy {
			position: absolute;
			top: 93%;
			left: 43%;
			font-size: 50px;
			font-family: Comic Sans MS;
			font-weight: bold;
			color: #cdcdcd;
		}

		.Sovent {
			top: -9.5%;
			left: 35.5%;
			position: absolute;
			width: 500px;
		}

		.Home {
			top: 2%;
			left: 76%;
			font-size: 230%;
			font-family: Arial;
			position: absolute;
			color: black;
			font-weight: bold;
		}

		.Sepa {
			position: absolute;
			top: 1.5%;
			left: 88%;
			width: 90px;
		}

		.Help {
			position: absolute;
			top: 2%;
			left: 93%;
			font-size: 230%;
			font-family: Arial;
			font-weight: bold;
			color: black;
		}

		a {
			text-decoration: none;
			color: black;
		}

		.Recuadro {
			position: absolute;
			width: 830px;
			height: 860px;
			top: 13%;
			left: 25%;
		}

		.Titulo1 {
			position: absolute;
			top: 11%;
			left: 26%;
			font-size: 45px;
			font-family: Agency FB;
		}

		.p1 {
			position: absolute;
			top: 19%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			margin: 25px auto;
			text-align: justify;
		}

		.p2 {
			position: absolute;
			top: 21.5%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			margin: 25px auto;
			text-align: justify;
		}

		.p3 {
			position: absolute;
			top: 24%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			margin: 25px auto;
			text-align: justify;			
		}

		.p4 {
			position: absolute;
			top: 28.5%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			margin: 25px auto;
			text-align: justify;	
		}

		.p5 {
			position: absolute;
			top: 31%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
		}

		.p6 {
			position: absolute;
			top: 33.5%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;	
		}

		.p7 {
			position: absolute;
			top: 36%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;	
		}

		.p8 {
			position: absolute;
			top: 38.5%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;	
		}

		.p9 {
			position: absolute;
			top: 41%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;	
		}

		.p10 {
			position: absolute;
			top: 45.5%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
		}

		.p11 {
			position: absolute;
			top: 48%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
		}

		.p12 {
			position: absolute;
			top: 50.5%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
		}

		.p13 {
			position: absolute;
			top: 53%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
		}

		.p14 {
			position: absolute;
			top: 55.5%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
		}

		.p15 {
			position: absolute;
			top: 58%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
		}

		.p16 {
			position: absolute;
			top: 60.5%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
		}

		.p17 {
			position: absolute;
			top: 63%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
			font-style: unset;
		}

		.p17_1 {
			color: green;
			font-style: unset;
		}

		.p18 {
			position: absolute;
			top: 67%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
			font-style: unset;
		}

		.p19 {
			position: absolute;
			top: 69.5%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
			font-style: unset;
		}

		.p20 {
			position: absolute;
			top: 72%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
			font-style: unset;
		}

		.p21 {
			position: absolute;
			top: 74.5%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
			font-style: unset;
		}

		.p22 {
			position: absolute;
			top: 77%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
			font-style: unset;
		}

		.p23 {
			position: absolute;
			top: 79.5%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
			font-style: unset;
		}

		.p24 {
			position: absolute;
			top: 82%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
			font-style: unset;
		}

		.p25 {
			position: absolute;
			top: 84%;
			left: 26%;
			font-size: 23px;
			font-family: Times New Roman;
			text-align: justify;
			margin: 25px auto;
			font-style: unset;
		}

		.pie {
			position: absolute;
			top: 90%;
			left: 26%;
			font-size: 20px;
			font-family: Arial;
			text-align: left;
			font-style: italic;
			font-weight: bold;
		}