.back {
		position: absolute;
		width: 100%;
		background-size: cover;
		background-position: center;
		height: 1080px;
		overflow: hidden;
		background-image: url("fondo2.jpg");
	}

	body, html {
		margin: 0;
		padding: 0;
	}

	.barra {
		width: 2100px;
		top: 0px;
		left: 0%;
		position: absolute;
	}

	.logo {
		position: absolute;
		top: 73%;
		left: -6%;
		width: 31%;
	}

	.barra2 {
		position: absolute;
		top: -6.5%;
		left: 0%;
		width: 1550px;
		height: 2000px;
	}

	.campana {
		top: 1%;
		left: 3%;
		width: 9%;
		position: absolute;
	}

	.busqueda {
		position: absolute;
		top: 2.5%;
		left: 32%;
		width: 42%;
		padding: 0.7%;
		background-color: #cdcdcd;
		border: none;
		color: black;
		font-family: Etchas;
	}

	.final {
		position: absolute;
		top: 92.9%;
		left: 2.6%;
		font-family: Etchas;
		font-size: 200%;
		font-weight: bold;
		color: #00FF00;
	}

	.final2 {
		position: absolute;
		top: 93%;
		left: 8%;
		font-family: Etchas;
		font-size: 200%;
		font-weight: bold;
		color: red;
	}

	.mensajes {
		position: absolute;
		top: 1%;
		left: -1%;
		width: 9%;
	}

	.Activos {
		position: absolute;
		top: 9%;
		left: 1%;
		font-size: 200%;
		font-family: Arial;
		font-weight: bold;
		color: #FF4000;
	}

	.Grupos {
		position: absolute;
		top: 13.5%;
		left: 0.5%;
		font-size: 180%;
		font-family: Arial;
		font-weight: italic;
		color: #00FF00;
	}

	a {
		text-decoration: none;
	}

	.Eventos {
		position: absolute;
		top: 40%;
		left: 1%;
		font-size: 200%;
		font-weight: bold;
		font-family: Arial;
		color: #FF4000
	}

	.Eventos2 {
		position: absolute;
		top: 46%;
		left: 0.5%;
		font-size: 180%;
		font-weight: italic;
		font-family: Arial;
		color: #00FF00
	}

	.crear {
		position: absolute;
		top: 0.5%;
		left: 85%;
		border: none;
		background-color: aqua;
		color: black;
		cursor: pointer;
		width: 10%;
		opacity: 1%;
		padding: 14px 15px;
		font-family: Arial;
		font-weight: bold;
		font-size: 150%;
		color: purple;
	}

	.salirse {
		position: absolute;
		top: 2%;
		left: 10%;
		border: none;
		background-color: red;
		color: white;
		font-family: Arial;
		font-weight: bold;
		font-size: 150%;
		cursor: pointer;
		width: 15%;
		padding: 14px 15px;
		opacity: 1%;
	}

	.buscar {
		position: absolute;
		top: 3%;
		left: 76%;
		color: white;
		background-color: black;
		border: none;
		padding: 7px 4px;
		font-family: Arial;
		font-weight: bold;
		width: 5%;
	}

	.perfil {
		position: absolute;
		top: 9%;
		left: 20%;
		font-family: Arial;
		font-weight: bold;
		color: black;
		font-size: 200%;
	}

	.CrearE {
		position: absolute;
		border: none;
		cursor: pointer;
		width: 80%;
		opacity: 0.9%;
		font-family: Arial;
		font-weight: bold;
		font-size: 150%;
		padding: 16px 15px;
		background-color: #7401DF;
		color: white;
		top: 18%;
		left: 19%;
	}

	.Recuadro {
		position: absolute;
		top: 16%;
		left: 20%;
		width: 70%;
		height: 70%;
	}

	.TEvento {
		position: absolute;
		top: 18%;
		left: 21%;
		font-family: Arial;
		font-weight: bold;
		font-size: 200%;
		border-radius: 2%;
	}

	.CrearE {
		position: absolute;
		top: 26%;
		left: 21%;
		font-family: Arial;
		background-color: #cdcdcd;
		border: 2px solid black;
		width: 60%;
		font-size: 100%;
	}

	.DEvento {
		position: absolute;
		top: 33%;
		left: 21%;
		font-family: Arial;
		font-weight: bold;
		font-size: 200%;
		border-radius: 2%;
	}

	.CrearD {
		position: absolute;
		top: 40%;
		left: 21%;
		font-family: Arial;
		background-color: #cdcdcd;
		border: 2px solid black;
		width: 60%;
		font-weight: bold;
		font-size: 100%;
		padding: 20px;
		height: 30%;
	}

	.EnviarE {
		position: absolute;
		top: 90%;
		left: 50%;
		font-family: Arial;
		font-weight: bold;
		font-size: 110%;
		color: black;
		background-color: #F1F8E0;
		border: none;
		padding: 14px 15px;
		width: 15%;
	}

	.DiaEvento {
		position: absolute;
		top: 73%;
		left: 21%;
		font-family: Arial;
		font-weight: bold;
		font-size: 200%;
	}

	.barraEvento {
		position: absolute;
		top: 80%;
		left: 21%;
	}