		.back{
			background-image: url("fondo.jpg");
			height: 1080px;
			background-position: center;
			background-size: cover;
			overflow: hidden;
			position: absolute;
			width: 100%;
		}

		body, html {
			margin: 0;
			padding: 0;
		}

		.barra {
			background-image: url("barraFondo.png")
			width: 100%;
			top: 0%;
			left: 0%;
			position: absolute;
		}

		.Copy {
			position: absolute;
			top: 90%;
			left: 42%;
			font-size: 250%;
			font-family: Arial;
			font-weight: bold;
			color: #cdcdcd; 
		}

		.Sovent {
			top: -11%;
			position: absolute;
			left: 34%;
			width: 36%;
		}

		.About {
			top: 2%;
			left: 78%;
			font-size: 190%;
			font-family: Arial;
			font-weight: bold;
			position: absolute;
			background-color: none;
		}

		.Sepa {
			position: absolute;
			top: 1.5%;
			left: 86%;
			width: 6.5%;
		}

		.Help {
			position: absolute;
			top: 2%;
			left: 90.5%;
			font-size: 190%;
			font-family: Arial;
			font-weight: bold;
		}

		a {
			text-decoration: none;
			color: white;
		}

		.Recuadro {
			position: absolute;
			width: 38%;
			top: 15%;
			left: 33%;
		}

		.lista {
			list-style: none;
			text-align: center;
		}

		.Login {
			position: absolute;
			top: 17%;
			left: 36%;
			font-size: 320%;
			font-family: Arial;
			font-weight: bold;
			color: black; 
		}

		.Username {
			position: absolute;
			top: 26%;
			left: 37%;
			font-size: 220%;
			font-family: Agency FB;
		}

		.User {
			position: absolute;
			top: 30%;
			left: 37%;
			padding: 6px;
			background: #cdcdcd;
			border: 3px solid black;
			width: 300px;
		}

		.Password {
			position: absolute;
			top: 40%;
			left: 37.2%;
			font-size: 220%;
			font-family: Agency FB;
		}

		.contra {
			position: absolute;
			top: 44%;
			left: 37%;
			padding: 6px;
			background: #cdcdcd;
			border: 3px solid black;
			width: 300px;
		}

		.boton {
			background-color: #4CAF50;
			color: white;
			padding: 16px 15px;
			border: none;
			cursor: pointer;
			width: 30%;
			opacity: 0.9%;
			position: absolute;
			top: 55%;
			left: 36%;
			font-family: Arial;
			font-weight: bold;
			animation: shake 0.47s;
			animation-iteration-count: 30s;
			font-size: 150%;
			transition-duration: 0.4s;
		}

		@keyframes shake {
			0% { transform: translate(1px, 1px) rotate(0deg); }
  			10% { transform: translate(-1px, -2px) rotate(-1deg); }
			20% { transform: translate(-3px, 0px) rotate(1deg); }
			30% { transform: translate(3px, 2px) rotate(0deg); }
			40% { transform: translate(1px, -1px) rotate(1deg); }
			50% { transform: translate(-1px, 2px) rotate(-1deg); }
			60% { transform: translate(-3px, 1px) rotate(0deg); }
			70% { transform: translate(3px, 1px) rotate(-1deg); }
			80% { transform: translate(-1px, -1px) rotate(1deg); }
			90% { transform: translate(1px, 2px) rotate(0deg); }
			100% { transform: translate(1px, -2px) rotate(-1deg); }
		}

		.boton1 {
			background-color: #FF0000; 
		}

		.boton1:hover {
			background-color: #4CAF50; 
		}

		.anuncio {
			position: absolute;
			top: 48%;
			left: 37%;
			font-size: 100%;
			font-family: Times New Roman;
		}

		.anuncio2 {
			position: absolute;
			top: 49.5%;
			left: 37%;
			font-size: 100%;
			font-family: Times New Roman;
		}

		.anuncio3 {
			position: absolute;
			top: 49.5%;
			left: 47.3%;
			font-size: 100%;
			font-family: Times New Roman;
			color: green;