.back {
	position: absolute;
	width: 100%;
	background-size: cover;
	background-position: center;
	height: 1080px;
	overflow: hidden;
	background-image: url("FondoMensajes.jpg");
}

body, html {
	margin: 0;
	padding: 0;
}

.barra {
	position: absolute;
	top: 0%;
	width: 100%;
	left: 0%;
}

.Menu {
	position: absolute;
	top: 1%;
	left: 3%;
	border: none;
	background-color: red;
	opacity: 0.9%;
	color: white;
	font-family: Comic Sans MS;
	font-weight: bold;
	width: 20%;
	padding: 16px 14px;
}

.busqueda {
	position: absolute;
	top: 1%;
	left: 32%;
	width: 42%;
	padding: 1%;
	background-color: #cdcdcd;
	color: black;
	font-family: Comic Sans MS;
	font-weight: bold;
	border: none;
}

.buscar {
	position: absolute;
	top: 2%;
	left: 77%;
	color: white;
	font-family: Arial;
	font-weight: bold;
	background-color: black;
	padding: 7px 4px;
	width: 5%;
	border: none;
}

.Mensajitos {
	position: absolute;
	top: 6%;
	left: 2%;
	font-family: Arial;
	font-weight: bold;
	color: #0174DF;
	font-size: 220%;
}

.MensajesMostrados {
	position: absolute;
	top: 11%;
	left: 3%;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 150%;
}

.Emensaje {
	position: absolute;
	top: 6%;
	left: 55%;
	font-family: Arial;
	font-weight: bold;
	color: #04B404;
	font-size: 220%;
}

.Para {
	position: absolute;
	top: 12%;
	left: 55%;
	font-family: Arial;
	font-weight: bold;
	color: #086A87;
	font-size: 210%;
}

.Persona {
	position: absolute;
	top: 14%;
	left: 61%;
	border: 2px solid black;
	padding: 16px 14px;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	background-color: white;
	width: 20%;
}

.MENSAJE {
	position: absolute;
	top: 19%;
	left: 55%;
	font-family: Arial;
	font-weight: bold;
	color: #00FFBF;
	font-size: 210%;
}

.QueMensaje {
	position: absolute;
	top: 20%;
	left: 65%;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	border: 2px solid black;
	padding: 16px 14px;
	background-color: #cdcdcd;
	width: 20%;
	height: 10%;
}

.EnviarM {
	position: absolute;
	top: 37%;
	left: 63%;
	border: none;
	font-family: Arial;
	font-weight: bold;
	color: white;
	background-color: #FF0000;
	opacity: 0.9%;
	transition-duration: 0.4s;
	padding: 16px 14px;
	cursor: pointer;
	width: 10%;
}

.EnviarM1 {
	background-color: #00FF00;
}

.EnviarM1:hover {
	background-color: #FF0000;
}